/**
 * Helpers / Mixins / Vertical Align
 *
 * Vertical alignment mixin
 */
@mixin valign($position: 'relative') {

    @if ($position == 'relative' or $position == 'absolute') {
        position: $position;
        top: 50%;
        transform: translateY(-50%);
    } @else {
        position: initial;
        top: auto;
        transform: none;
    }

}
